{
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "func-names": ["error", "never"],
    "space-before-function-paren": ["error", "never"]
  },
  "extends": ["airbnb-base/legacy"]
}
