.root-homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: auto;
}

.tile {
  width: 450px;
  height: 400px;
}

.legend {
  size: 200px;
}

p {
  text-align: center;
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 19px;
}

h2 {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 19px;
}