.root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
}

.meal-grid-list {
  width: 900px;
  height: 450px;
  overflow-y: 'auto';
  margin-right: auto !important;
  margin-left: auto !important;
  padding-top: 38px;
}

.date-wrapper {
  position: relative;
}

.date-description {
  position: absolute;
  top: 5px;
  right: 5px;
}

.city-description {
  position: absolute;
  top: 5px;
  left: 5px;
}

.meals-buttons {
  padding-top: 20px;
  padding-left: 58px;
}

.nearby-button {
  padding-left: 10px;
}

.date-badge {
  font-size: 16px;
  font-weight: normal;
  background-color: #e91e63;
}

.city-badge {
  font-size: 16px;
  font-weight: normal;
  color: white;
  background-color: rgb(0, 188, 212);
}

.submit-date {
  padding: 0px;
}

.un-linkify {
  color: white;
  text-decoration: none;
}

.meals-card {
  width: 300px;
}

.meals-date {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 14px;
  color: #e91e63;
}

.meals-name {
  font-size: 20px;
  color: rgb(0, 188, 212);
}

.all-meals {
  padding-top: 38px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow-x: auto;
}
