.root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
}

.meals-buttons {
  margin-top: 20px;
  margin-left: 20px;
}

.nearby-button {
  padding-left: 10px;
}

.submit-date {
  padding: 0px;
}

.un-linkify {
  color: white;
  text-decoration: none;
}

.meals-card {
  width: 300px;
  min-width: 300px;
  margin: 10px;
}

.meals-date {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 14px;
  color: #e91e63;
}

.meals-name {
  font-size: 20px;
  color: rgb(0, 188, 212);
}

.meals-image {
  height: 200px;
  size: 100%;
}

.all-meals {
  padding-top: 38px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow-x: auto;
}
