.navibar {
  width:100% !important;
  left:0px;
  position:absolute;
  overflow:hidden;
  /*height:40px;*/
  background-color:rgb(0, 188, 212);
  margin: 0;
  padding: 0;
  -webkit-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
  -moz-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
  box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
}

.navibar-logo {
  font-family: "Rochester";
  font-size: 24px;
  line-height: 16px;
}

.navibar li {
  height: 37px;
  text-align:center;
  color: white;
  cursor:pointer;
  float: left;
  list-style: none;
  font-weight: 200;
  transition:background-color ease-in-out .5s;
  -moz-transition:background-color ease-in-out .5s;
  -webkit-transition:background-color ease-in-out .5s;
  -o-transition:background-color ease-in-out .5s;
  text-shadow: 0px -3px 3px rgba(255, 255, 255, 0.2);
}
.navibar li a,a:visited,a:hover {
  color: white;
  text-decoration:none;
}
.navibar li:first-child {
  font-weight:bold;
  border-left:none;
}

.navibar li:hover {
  background-color:rgba(255,255,255,.2);
  border-bottom: 3px solid orange;
}

selected {
  background: red;
}
.nav-auth {
  float: right !important;
}

li img {
  vertical-align: -webkit-baseline-middle;
  margin-right: 20px !important;
  margin-top: -0.5px !important;
}

.chef-welcome {
  cursor: default !important;
  padding-top: 4.5px !important;
  padding-right: 10px;
  float: right !important;
}

.user-welcome {
  cursor: default !important;
  padding-top: 8px !important;
  padding-left: 10px;
  padding-right: 10px;
  float: right !important;
}

li a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  padding-top: 7.5px;
  padding-bottom: 7px;
}

.selected {
  background-color:rgba(255,255,255,.2);
}

.chef-welcome a {
  padding: 0;
}
