.nav {
	width:100% !important;
	left:0px;
	position:absolute;
	overflow:hidden;
	height:40px;
	background-color:rgb(0, 188, 212);
	margin: 0;
	padding: 0;
	-webkit-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	-moz-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
}
.nav li {
  height: 30px;
	text-align:center;
	color: white;
	padding-right:20px;
	padding-bottom: 7px;
	cursor:pointer;
	float: left;
	list-style: none;
	font-weight: 200;
	transition:background-color ease-in-out .5s;
	-moz-transition:background-color ease-in-out .5s;
	-webkit-transition:background-color ease-in-out .5s;
	-o-transition:background-color ease-in-out .5s;
	text-shadow: 0px -3px 3px rgba(255, 255, 255, 0.2);
}
.nav li a,a:visited,a:hover {
	color: white;
	text-decoration:none;
}
.nav li:first-child {
	font-weight:bold;
	border-left:none;
}

.nav li:hover {
	background-color:rgba(255,255,255,.2);
	border-bottom: 3px solid orange;
}
.nav li.active {
}

.nav-auth {
	float: right !important;
}

li img {
	vertical-align: -webkit-baseline-middle;
	margin-right: 20px !important;
	margin-top: 2.5px !important;
}

.no-cursor {
	cursor: default !important;
}

li a {
  display: inline-block;
  height: 100%;
  padding-top: 7.5px;
}