.NearByMeals-container {
  width: 100%;
}

.NearByMeals-resultsContainer {
  position: relative;
  width: 646px;
}

.NearByMeals-mapView {
  position: fixed;
  top: 216px;
  right: 0;
  bottom: 0;
  left: 646px;
  width: calc(100% - 646px);
  height: calc(100% - 216px);
}
