.num-required {
	float: right;
}

.request-card {
	width: 350px;
	padding: 15px;
	border: 2px rgb(0, 188, 212) solid;
	margin-bottom: 30px;
}

.request-buttons div {
	text-align: center;
	margin: 0 5px;
}

.request-stat {
	padding-top: 10px;
}