.card {
  width: 450px;
  text-align: center;
}
.purchase-images {
  width: 125px;
}

.purchase-title {
  text-decoration: underline;
  color: black;
}

.meal-title {
  color: black;
}


.user-root {
  margin-top: 20px;
  margin-left: 20px;
}

.user-heading {
  color: #00bcd4;
}

.user-requests, .user-purchases {
  margin-bottom: 40px;
}

.user-requests-list {
  display: flex;
  flex-wrap: wrap;
}

.user-purchases-list {
  display: flex;
  flex-wrap: wrap;
}

.user-purchase-item {
  width: 300px;
  margin: 10px;
}

.user-purchase-item-image {
  height: 150px;
  object-fit: cover;
}

a.user-purchase-item-name {
  color: #00bcd4 !important;
  font-size: 20px;
}

.user-purchase-details-info-label {
  font-weight: bold;
}

.user-purchase-details-info {
  padding-left: 5px;
}

.user-purchase-highlight {
  color: #e91e63;
}

.user-request-card {
  margin: 10px;
}
