.card {
  width: 450px;
  text-align: center;
}
.purchase-images {
  width: 125px;
}

.purchase-title {
  text-decoration: underline;
  color: black;
}

.meal-title {
  color: black;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}
