.num-required {
  float: right;
}

.num-ordered {
  float: left;
}

.request-card {
  width: 350px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  background-color: #fff;
}

.request-buttons div {
  text-align: center;
  margin: 0 5px;
}

.request-stat {
  padding-top: 10px;
}

.created-by {
  color: rgba(0, 0, 0, 0.541176);
  padding-left: 20px;
  vertical-align: super;
}

.request-card a {
  font-size: 1.5em;
  color: rgb(0, 188, 212) !important;
}

.request-card img {
  vertical-align: bottom;
}

.meal-name {
  padding-bottom: 15px;
}
